.mail{
    flex:1;
    background-color: whitesmoke;

}
.mail__tools{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
.mail__toolsleft{
    display: flex;
}

.mail__body{
    display: flex;
    flex-direction: column;
    margin:30px;
    background-color: white;
    height: 100vh;
    padding: 20px;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}
.mail__bodyheader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}
.mail__important{
    color: #eBab02 !important;
}
.mail__bodyheader > h2{
    font-weight: 20px;
    margin-right: 20px;
    position: relative;
}
.mail__message > p{
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
}
.mail__time{
    position:absolute;
    top:24px;
    right:0;
    
}